!!!!!!!!!!!!!!!!!!!!!!
!! Colors and stuff !!
!!!!!!!!!!!!!!!!!!!!!!

! special
*.foreground:   #c8d2e4
*.background:   #070b11
*.cursorColor:  #c8d2e4

! black
*.color0:       #0e141c
*.color8:       #e16775

! red
*.color1:       #161d27
*.color9:       #b09c67

! green
*.color2:       #252e3c
*.color10:      #5984b7

! yellow
*.color3:       #39475a
*.color11:      #479744

! blue
*.color4:       #526580
*.color12:      #907d47

! magenta
*.color5:       #718aad
*.color13:      #da70db

! cyan
*.color6:       #a1b4d1
*.color14:      #b755b9

! white
*.color7:       #dde3ee
*.color15:      #a08947


!!!!!!!!!!!
!! URxvt !!
!!!!!!!!!!!

!Fonts
URxvt.font: xft:MesloLGS NF:size=10:antialias=true:hinting=true
URxvt.boldFont: xft:MesloLGS NF:bold:size=10:antialias=true:hinting=true
URxvt.italicFont: xft:MesloLGS NF:italic:size=10:antialias=true:hinting=true
URxvt.boldItalicFont: xft:MesloLGS NF:bold:italic:size=10:antialias=true:hinting=true

!Scrollbar stuff
URxvt.scrollBar: false

!Transparency
URxvt.depth: 32
URxvt.background: [30]#000000

!Larger history limit
urxvt.saveLines: 999999

!Extensions
URxvt.perl-ext-common: default,keyboard-select,matcher,resize-font,selection-to-clipboard,url-select

!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!! matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.internalBorder: 24
