!!!!!!!!!!!!!!!!!!!!!!
!! Colors and stuff !!
!!!!!!!!!!!!!!!!!!!!!!

! special
*.foreground:   #b5d1da
*.background:   #0b0f10
*.cursorColor:  #b5d1da

! black
*.color0:       #13181a
*.color8:       #72afc0

! red
*.color1:       #1b2123
*.color9:       #d898ba

! green
*.color2:       #2b3336
*.color10:      #ea97c4

! yellow
*.color3:       #3f4b4f
*.color11:      #dd67ad

! blue
*.color4:       #5a696e
*.color12:      #ac9ed4

! magenta
*.color5:       #798e94
*.color13:      #df99bf

! cyan
*.color6:       #9eb8c0
*.color14:      #8f9869

! white
*.color7:       #d6e5ea
*.color15:      #86914d

!!!!!!!!!!!
!! URxvt !!
!!!!!!!!!!!

!Fonts
URxvt.font: xft:MesloLGS NF:size=10:antialias=true:hinting=true
URxvt.boldFont: xft:MesloLGS NF:bold:size=10:antialias=true:hinting=true
URxvt.italicFont: xft:MesloLGS NF:italic:size=10:antialias=true:hinting=true
URxvt.boldItalicFont: xft:MesloLGS NF:bold:italic:size=10:antialias=true:hinting=true

!Scrollbar stuff
URxvt.scrollBar: false

!Transparency
URxvt.depth: 32
URxvt.background: [75]#000000

!Larger history limit
urxvt.saveLines: 999999

!Extensions
URxvt.perl-ext-common: default,keyboard-select,matcher,resize-font,selection-to-clipboard,url-select

!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!! matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.internalBorder: 24
